 /* h1{
  color: darkgoldenrod;
} */

/* section{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #8dc3d8;
} */

/* .logo{
  flex-grow: 1;
} */

/* .logo img{
  width: 150px;
  height: 152px;
  padding: 1vh;
} */


/* .tittle{
  flex-grow: 1;
} */

nav{
  padding: 20px;
  justify-content: center;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  place-items: center;
}

.logo img{
  max-width: 1000px;
  /* width: 100px; */
  height: 130px;
}

.title{
  font-family: 'Righteous';
  flex-grow: 1;
  color: #8B0000;
}

.title img{
  max-width: 200px;
}
