<!-- <p>New york works!</p> -->
<section>
    <div class="container">
        <div class="image">
            <img src="../../../assets/img/licensed-image.jfif" alt="">
            <p>New York</p>
        </div>
        <div class="image">
            <img src="../../../assets/img/Tokyo-japan.webp" alt="">
            <p>Tokyo</p>
        </div>
        <div class="image">
            <img src="../../../assets/img/london.jpg" alt="">
            <p>Londres</p>
        </div>
        <div class="image">
            <img src="../../../assets/img/Rialto-Bridge.jpg" alt="">
            <p>Venecia</p>
        </div>
    </div>
</section>