main {
    font-family: Helvetica, sans-serif;
    display: grid;
    /* gap: 7px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header header  header  header  header"
    "aside  section section section section"
    "footer footer  footer  footer  footer";
    /* row-gap: 1;
    column-gap: 1; */
    grid-template-rows: 20% 70% 10%;
    height: 98vh;
  }
  
  section {
    grid-area: section;
    border: 1px solid #a8dadc;
    background-color: white;
    padding: 20px;
  }
  
  aside {
    grid-area: aside;
    border: 1px solid #a8dadc;
    background-color: #f1f1f1; 
    padding: 20px; 
  }
  
  footer{
    grid-area: footer;
    border: 1px solid #a8dadc;
    background-color: #ddd;
    padding: 20px; 
    text-align: center;
  }
  
  header{
    grid-area: header;
    /* padding: 45px;  */
    font-size: 1rem;
    border: 1px solid #a8dadc;
    text-align: center; 
    background: #1abc9c;
    color: white; 
  }
  
  main{
    position: relative;
  }
  
  nav a{
    text-decoration: none;
  }
  
  nav li{
    margin-bottom: 10px;
  }
  
  .picture img{
    object-fit: cover;
    height: 200px;
  }
  
  .header img{
    object-fit: cover;
    /* max-width: 300px; */
  }
  